Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override,
  readability-duplicate-include,
  readability-implicit-bool-conversion
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/src/.*'
